<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="content">
      <h2>Welcome <%=name%></h2>
      <br />
      <div>
        <h2>How to use search function!</h2>
        <br />
        <p class="stepbystep">
          Step 1: Click on Search in the top right corner.
        </p>
        <br />
        <p class="stepbystep">
          Step 2: Input a search term (Note: Search by first name, email, or
          letter. Searching by letter will show results of all students with
          that letter in their name or email)
        </p>
        <br />
        <p class="stepbystep">
          Step 3: Select which database to receive data from. (MongoDB,
          Postgres, or Both databases)
        </p>
        <br />
        <p class="stepbystep">Step 4: Click the search button!</p>
      </div>
      <div class="logout"><%- include('./partials/logout') %></div>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
