<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="content">
      <h2>Welcome <%=name%></h2>
      <br />
      <div class="logout"><%- include('./partials/logout') %></div>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
